<h1>Sondage sur les sondages</h1>

<form  [formGroup]= "surveyForm" (submit)="onSubmit()" >

    <label for="reponse1">Quels sont vos 3 thèmes préféres, séparés par des virgules ?</label><br />
    <input type="text" id="reponse1" name="reponse1" formControlName="reponse1" />

    <br />
    <br />

    <label for="reponse1">Aimeriez-vous répondre à des sondages ?</label><br />
    <input type="text" id="reponse2" name="reponse2" formControlName="reponse2" />

    <br />
    <br />

    <label for="reponse1"> Comment appelez-vous ?</label><br />
    <input type="text" id="reponse3" name="reponse3" formControlName="nom" />


    <br />
    <br />

    <label for="reponse1"> Votre Email ?</label><br />
    <input type="text" id="reponse3" name="reponse3" formControlName="email" />


    <br />
    <br />
    <input type="submit" value="Envoyer" />

</form>





